extends layout

//- 마이 페이지
block content
  - console.log('===================================')
  - console.log(current_user.emp_ID)
  section.fdb-block.fp-active(data-block-type="contents" data-id="1" draggable="true")
    .container
      .row.text-left.align-items-center
        .col-10.col-lg-8.pt-4.pt-lg-0
            .row.mt-3
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 아이디
                    p.text-h3.ml-3 #{current_user.emp_ID}
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 이름
                    p.text-h3.ml-3 #{current_user.emp_name}
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 최종학력
                    p.text-h3.ml-3 #{current_user.emp_final_edu}
                      
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 기술
                    p.text-h3.ml-3 #{current_user.skill}
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 경력
                    p.text-h3.ml-3 #{current_user.career}
                      
              .col-12.col-sm-6.pt-3.pt-sm-0
                h3
                  strong 부서
                    p.text-h3.ml-3 #{current_user.dept}
                     
            
            a.btn.btn-black.btn-empty(href='/updateMyInfo', style='float: right') 수정
              //- if state === 'developer'
              //-   .col-12.col-sm-6.pt-3.pt-sm-0
              //-     h3
              //-       strong Join Company Date 
              //-         p.text-h3.ml-3
              //-           | #{moment(user.JOIN_COMPANY_DATE).format('YYYY-MM-DD')}
              //-   .col-12.col-sm-6.pt-3.pt-sm-0
              //-     h3
              //-       strong Work Experience
              //-         p.text-h3.ml-3
              //-           | #{moment.duration(moment(new Date()).diff(user.JOIN_COMPANY_DATE)).asMonths().toFixed(2)}개월
              //-   .col-12.col-sm-12.pt-3.pt-sm-0
              //-     h3
              //-       strong Skill
              //-         p.text-h3.ml-3
              //-           | #{user.SKILL === null ? '' : user.SKILL}
              //- .col-12.col-sm-12.pt-3.pt-sm-0
