block projectList
  h1.text-center.mt-5 프로젝트
  .row.mr-0
    .col-sm-12
      h2.ml-5.mt-5 참가 프로젝트
      
      table#allProjList.table.text-center.ml-5(style="width: 90%;")
        thead.thead-light
          tr
            th(scope="col") 프로젝트명
            th(scope="col") 프로젝트 진행기간
            th(scope="col") 프로젝트 참가기간
            th(scope="col") 발주처
            th(scope="col") 예산
            th(scope="col") 직무(역할)
            th(scope="col") 참가여부
        tbody
          each value in prj_before
            tr 
              if(value.Role.role_name=='PM')
                td
                  a.project_name(href=`/employee/pm/project/${value.Project.id}`)= value.Project.project_name
                td.duration= value.Project.proj_start_date+' ~ '+ value.Project.proj_end_date
                td.participate= value.part_start_date+' ~ '+value.part_end_date
                td.organization= value.Project.project_organization
                td.budget= value.Project.budget 
                td.role= value.Role.role_name 
                td
                  button.stop 참가중지
              else
                td.project_name #{value.Project.project_name}
                td.duration= value.Project.proj_start_date+' ~ '+ value.Project.proj_end_date
                td.participate= value.part_start_date.slice(0,-8)+' ~ '+value.part_end_date.slice(0,~8)
                td.organization= value.Project.project_organization
                td.budget= value.Project.budget 
                td.role= value.Role.role_name 
                td
                  button.stop 참가중지
          //-   tr
          //-     td= value[0]
          //-     td= value[1]
          //-     td #{moment(value[2]).format('YYYY-MM-DD') + ' ~ ' + moment(value[3]).format('YYYY-MM-DD')}
          //-     td= value[4]
          //-     td #{moment(value[5]).format('YYYY-MM-DD')}
          //-     if value[6] !== null
          //-       td #{moment(value[6]).format('YYYY-MM-DD')}
          //-     else
          //-       td X
          //-     td= value[7]
  .row.mr-0
    .col-sm-12
      h2.ml-5.mt-5 미참가 프로젝트
      table.table.text-center.ml-5(style="width: 90%;")
        thead.thead-light
          tr
            th(scope="col") 프로젝트명
            th(scope="col") 프로젝트 진행기간
            //- th(scope="col") 프로젝트 참가기간
            th(scope="col") 발주처
            th(scope="col") 예산
            th(scope="col") 참가여부
        tbody
          each value in prj_cur
            tr 
              td.non_project_name #{value.project_name}
              td.non_duration= value.proj_start_date+' ~ '+ value.proj_end_date
              td.non_organization= value.project_organization
              td.non_budget= value.budget 
              td
                button.participate 참가
          //-   tr
          //-     td= value[0]
          //-     td= value[1]
          //-     td #{moment(value[2]).format('YYYY-MM-DD') + ' ~ ' + moment(value[3]).format('YYYY-MM-DD')}
          //-     td= value[4]
          //-     td #{moment(value[5]).format('YYYY-MM-DD')}
          //-     if value[6] !== null
          //-       td #{moment(value[6]).format('YYYY-MM-DD')}
          //-     else
          //-       td X
          //-     td= value[7]
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script(src="/javascripts/projectList.js")