extends ../layout

//- 프로젝트 검색 페이지
block content
  h1.text-center.mt-5 프로젝트 관리
  div.float-right
    .container
      .row.justify-content-end.mt-4.mb-3
        form.form-inline(action='/manager/manageAllProject', method='post')
          .row.align-items-center.mr-0
            .col-md-auto
              h4.text-center.mt-1 프로젝트 착수일자
            .col-md-auto
              input.form-control(type="date", name="start_date")
            .col-md-auto
              h4.text-center.mt-1 프로젝트 종료일자
            .col-md-auto
              input.form-control(type="date", name="end_date")
            button.btn.btn-outline-secondary.my-2.my-sm-0.mr-auto(type="submit") 검색

  div
    table.table.table.pull-center.table-hover.text-center(style="width: 100%;")
      thead
        tr
          th(scope="col") 프로젝트명
          th(scope="col") 프로젝트 진행기간
          th(scope="col") 발주처
          th(scope="col") 예산
      tbody
        each value in result
          tr
            td 
              a(href=`/manager/project/${value.id}`)= value.project_name
            td #{value.proj_start_date}~#{value.proj_end_date}
            td #{value.project_organization}
            td #{value.budget}
  
    ul.pagination
      while n < totalPage+1
        a.page-link(href=`manageAllProject?page=${n}`) #{n++}