extends ../layout

//- 직원 검색 페이지
block content
  h1.text-center.mt-5 직원 검색
  div.float-right
    nav.navbar.navbar-light.mt-4.mb-3
      form.form-inline(action='/manager/searchEmployeeProject', method='post')
        .col-md-auto.align-items-right(style="padding: 0")
          select.custom-select(name="selected_search_key", size="1")
            option(value='name') 이름
            option(value='id') ID
        input.form-control.mr-sm-2(type="text" name="search_key" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-secondary.my-2.my-sm-0(type="submit") 검색

  //- 검색 전 모든 직원 정보 보여줌
  div
    table.table.pull-center.table-hover(style="width: 100%; margin: auto")
      thead
        tr
          th(scope="col") 직원번호
          th(scope="col") 부서명
          th(scope="col") 이름
          th(scope="col") 최종학력
          th(scope="col") 기술
          th(scope="col") 경력

      tbody
        each value in result
          tr
            td #{value.id}
            td #{value.Dept.dept_name}
            td #{value.emp_name}
            td #{value.emp_final_edu}
            td #{value.skill}
            td #{value.career}

  ul.pagination
    while n < totalPage+1
      a.page-link(href=`searchEmployee?page=${n}`) #{n++}