extends ../layout

//- 경영진 프로젝트 수정 페이지
block content
  form(action=`/manager/project/${currentProj.id}/update`, method="POST")
    div.mr-3.ml-3
      h1.text-center.mt-5 프로젝트 수정
      section.fdb-block.fp-active(data-block-type="contents" data-id="1" draggable="true")
        .container
          .row.text-left.align-items-center.mt-3
            .col
              h3
                strong 프로젝트명
                  input.form-control.text-h3(type="text", name="project_name" value=`${currentProj.project_name}`)
            .col
              h3
                strong 프로젝트 착수일자
                  input.form-control.text-h3(type="text", name="proj_start_date" value=`${currentProj.proj_start_date}`)
            .col
              h3
                strong 프로젝트 종료일자
                  input.form-control.text-h3(type="text", name="proj_end_date" value=`${currentProj.proj_end_date}`)
            .col
              h3
                strong 발주처
                  input.form-control.text-h3(type="text", name="project_organization" value=`${currentProj.project_organization}`)
            .col
              h3
                strong 예산
                  input.form-control.text-h3(type="text", name="budget" value=`${currentProj.budget}`)

        .row.mt-4
        h2.ml-3.mt-5 참여 직원
        .row.align-items-center.mt-2
          .col
            table.table.text-center
              thead.thead-light
                tr 
                  th(scope="col") 이름
                  th(scope="col") 직무
                  th(scope="col") 프로젝트 참여일
                  th(scope="col") 프로젝트 종료일
              tbody
              each value in employeeList
                tr 
                  td #{value.Employee.emp_name}
                  td #{value.Role.role_name}
                  td #{value.part_start_date}
                  td #{value.part_end_date}
    button.btn.btn-black.btn-empty(type="submit", style="float: right") 수정완료